.picturedesign{
    margin-top: -3%;
    position: relative;
  } 
  .twosection{
    width: 100%;
    height: 970px;
    background-color: #FFFBF2;
}
.servingsince-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;

}
.aboutus{
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
  color: #DA9F5B;
}
.sv1950{
  font-size: 56px;
  color: #33211D;
  font-family: sans-serif;
  font-weight: 800;
}
.coffee-cup-img{
  height: 600px;

}
.ourstory{
  width:379.99px;
  height: 500px;
  padding: 48px 15px;
}
h5, #st{
  font-size: 1.17rem;
  line-height: 1.2;
  color: #33211D; 
   font-family: sans-serif;
   margin-top: 16px;
}
#st{
  font-size: 40px;
}
.our-story-text{
  font-size: 16px;
  color: #555555;
  margin-top: 26px;

}
.learnmore{
  width: 136.25px;
  height: 42px;
  background-color: #33211D;
  margin-top: 73px;
  border: none;
}
.lm{
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}
.coffee-cup-img{
  display: flex;
  justify-content: center;
}
.imgabout{
  width: 500px;
  height: 500px;
  margin-top: -50px;
  margin-left: -85px;
}
.learnmore2 {
  background-color: #DA9F5B;
  border: #DA9F5B;
  
}
.learnmore2 a{
  color:black;
  font-weight: 700;
}
.since{
  color: white;
  font-weight: 500;
  font-size: 32px;
  font-family: sans-serif;
}
.direct-line{
  height: 100px;
  width: 2px;
  margin-top: 3%;
 border-left: 2px solid #DA9F5B;
}
.section_three{
    height: 880.98px;
    background-color: #FFFBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: flex-start;
  }
  .row{
    width: 570px;
    height: 207.5px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .row_coffee{
    width: 1140px;
    height: 511px;
  }
  .twodiv{
    display: flex;
    margin-top: 3%;
  }
  .fast-text{
    width: 332.48px;
    height: 149px;

  }
  .fa{
    background: #DA9F5B;
    color: #33211D;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
  }
  h4{
    font-family: "Roboto",sans-serif;
      font-weight: 500;
      line-height: 1.2;
      color: #33211D
  }
  .overlay-top{
    height: 580px;
background-image: url("/coffeshop/src/assets/img/bg.jpg"); 
}
  .ovl{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 581px;
    background-color: rgba(51,33,29,0.7);
  }
  .containerPy-5{
    max-width:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .off{
    font-size: 72px;
    font-family: sans-serif;
    color: #DA9F5B;
  
  }
  .sunday{
    font-size: 40px;
    color: white;
  }
  .date{
    font-size: 24px;
    color: white;
    font-family: sans-serif;
  }
  .input-group{
    display: flex;
  }
  .form-control{
    width: 248px;
  }
  
  .btn{
    width: 113.64px;
    height: 66px;
    background-color: #DA9F5B;
    border: none;
    font-size: 16px;
    color: #212529;
  }
  h5, #st{
    font-size: 1.17rem;
    line-height: 1.2;
    color: #33211D; 
     font-family: sans-serif;
     margin-top: 16px;
  }
  .overlay-top{
    height: 580px;
    background-image: url("/assets/img/bg.jpg");
    
  }