
<carousel [slideFor]="slideFor"></carousel>
<div class="color">
  <div class="carousel" role="group" aria-roledescription="carousel" data-carousel aria-label="Student testimonials">
    <div class="carousel-buttons">
    </div>
    <!-- -------------------------------- -->
    <div class="slides" aria-live="polite" data-carousel-slides-container>
      <div class="slide" role="group" aria-roledescription="slide" aria-hidden="true">
        <div class="content content-1">
          <div class="text-container">
            <nav class="navbar">
              <ul class="ul">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
            <div class="havecoffee">

              <div class="coffee">

                <span class="coftext">
                  <span class="wehavebeenserving">We Have Been Serving</span>
                  <span><a>COFFEE</a></span>
                  <span class="since">* SINCE 1950 *</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>