@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400&display=swap');
 html, body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
font-family: 'Merriweather', serif; 
font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
}
::ng-deep * {
  margin: 0;
  padding: 0;
}

