@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400&display=swap');

 html, body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
font-family: 'Merriweather', serif; 
font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;
}
::ng-deep * {
  margin: 0;
  padding: 0;
}
.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}


.content {
  width: 100%;
  height: 1070px;
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
  color: white;
  text-align: left;
}

.content-1 {
  background-image: url("../assets/img/carousel-1.jpg");
}

.content-2 {
  /* background-image: url(assets/img/carousel-2.jpg); */
}

/* ----------------------------------------------------slider design-------------- */
.text-container {
  max-width: 100%;
  height: 100%;

  background-color: rgba(51,33,29,0.7);
}

.navbar{
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* position: static; */
}
.ul{
  display: flex;
  justify-content: space-between;

}
.ul li{
  color: white;
  list-style-type: none;

}
ul a{
  width: 83px;
  height: 40px;
  text-decoration: none;
  color: white;

}
li a {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding: 8px 15px;
}
li a:hover{
  color: #DA9F5B;
}
.color{
  width: 100%;
    /* height: 1080px; */
    /* border: 1px solid white; */
    background-color: rgba(51,33,29,0.7);
    /* display: flex;
    flex-direction: column; */
}
.wehavebeenserving{
  color:  #DA9F5B;
  font-size: 32px;
  font-weight: 500;
  font-family: sans-serif;

}
.havecoffee{
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.coffee{
  font-size: 128px;
  color: white;
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 17%;
}
.since{
  color: white;
  /* border:1px solid white; */
  font: 32px Roboto sans-serif;
}
.coftext{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fas{
  background-color: rgba(255,255,255, 0.5);
  border-radius: 100%;
}
.picturedesign{
  /* border: 1px solid black; */
  margin-top: -3%;
  position: relative;
}
/* @media screen and (max-width: 1500px) {
  /* ----- */
  /* .picturedesign{ */
    /* border: 1px solid black; */
    /* margin-top: 17%;
  }
  } */ 
  /* -----------------TWO SECTION-------------------- */
  .twosection{
    width: 100%;
    height: 970px;
    /* border: 1px solid black; */
    background-color: #FFFBF2;
}
.servingsince-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
/* border: 1px solid black; */
}
.aboutus{
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
  color: #DA9F5B;
}
.sv1950{
  font-size: 56px;
  color: #33211D;
  font-family: sans-serif;
  font-weight: 800;
}
/* 596---- */
.coffee-cup-img{
  height: 600px;
  /* border: 1px solid black; */
}
.ourstory{
  width:379.99px;
  height: 500px;
  /* border: 1px solid black; */
  padding: 48px 15px;
}
h5, #st{
  font-size: 1.17rem;
  line-height: 1.2;
  color: #33211D; 
   font-family: sans-serif;
   margin-top: 16px;
}
#st{
  font-size: 40px;
}
.our-story-text{
  font-size: 16px;
  color: #555555;
  margin-top: 26px;

}
.learnmore{
  width: 136.25px;
  height: 42px;
  background-color: #33211D;
  margin-top: 73px;
  border: none;
}
.lm{
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}
.coffee-cup-img{
  display: flex;
  justify-content: center;
}
.imgabout{
  width: 500px;
  height: 500px;
  margin-top: -50px;
  margin-left: -85px;
}
.learnmore2 {
  background-color: #DA9F5B;
  border: #DA9F5B;
  
}
.learnmore2 a{
  color:black;
  font-weight: 700;
}
.since{
  color: white;
  font-weight: 500;
  font-size: 32px;
  font-family: sans-serif;
}
.direct-line{
  height: 100px;
  width: 2px;
  margin-top: 3%;
 border-left: 2px solid #DA9F5B;
}
.section_three{
  height: 880.98px;
  background-color: #FFFBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: flex-start;
}
.row{
  width: 570px;
  height: 207.5px;
  /* border: 1px solid black; */
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row_coffee{
  width: 1140px;
  height: 511px;
  /* border: 1px solid black; */
}
.twodiv{
  display: flex;
  margin-top: 3%;
}
.fast-text{
  width: 332.48px;
  height: 149px;
  /* border: 1px solid black; */
}
.fa{
  background: #DA9F5B;
  color: #33211D;
  margin-right: 15px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
}
h4{
  font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #33211D
}
.overlay-top{
  height: 580px;
  background-image: url("../assets/img/bg.jpg");
}
.ovl{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 581px;
  background-color: rgba(51,33,29,0.7);
}
.containerPy-5{
  max-width:1100px;
  /* height: 200px; */
 
  display: flex;
  flex-direction: column;
    align-items: center;

}
.off{
  font-size: 72px;
  font-family: sans-serif;
  color: #DA9F5B;

}
.sunday{
  font-size: 40px;
  color: white;
}
.date{
  font-size: 24px;
  color: white;
  font-family: sans-serif;
}
.input-group{
  display: flex;
}
.form{
  /* height: 60px; */
}
.form-control{
  width: 248px;
}

.btn{
  width: 113.64px;
  height: 66px;
  background-color: #DA9F5B;
  border: none;
  font-size: 16px;
  color: #212529;
}
.section-four{
  height: 887.48px;
  background-color: #FFFBF2;
  display: flex;
    flex-direction: column;
    align-items: center;
}
.hotandcoldcoffe{
  width:1145px;
  height: 577.5px;
}
.coffeetype{
  width: 570px;
  height: 150px;
  display: flex;
  justify-content: space-around;
}
.hot{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.picsize{
  width: 112px;
  height: 112px;
  border-radius: 50%;
}
.menu-price{
  position: absolute;
    width: 45px;
    height: 45px;
    margin-top: -58px;
    margin-left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #33211D;
    background: #DA9F5B
}
.textcoffeetype{
  display: flex;
  width: 427px;
  justify-content: center;
  flex-direction: column;
}
.m-0{
  font-size: 16px;
  font-family: sans-serif;
  color: #555555;
  height: 48px;
}
.coffeehotandcold{
  font-size: 24px;
}
.sectionfive{
    height: 651px;
    background-color: #FFFBF2;
    display: flex;
    justify-content: center;
}
.textbook{
    /* width: 540px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: rgba(51,33,29,0.4); 
    /* border: 1px solid black; */
}
.bookyourtable{
    height: 651px;
    width: 100%;
    /* display: flex; */
}
.big{
  display: flex;
}
.off30{
    width: 540px;
    /* height: 470px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
    margin-top: 4%;
    /* border: 1px solid black; */

}
.off30text, .sunday{
    margin: 0px 0px 8px;
}
.our-story-text-2{
    width: 444px;
    height: 66px;
    font-size: 16px;
    font-family: sans-serif;
    color: white;

}
.done li{
    list-style: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    width: 444px;
    height: 40px;
}
.done{
     margin-right: 5px;
       padding-left: 0px;
}
li span{
    color: #DA9F5B;
    font-weight: 900;

}


.inputs {
    width: 444px;
    height: 363px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.booknow{
    background-color: #DA9F5B;
}

.inps{
    height: 50px;
    background: rgba(51,33,29,0.8);
    border: 1px solid #DA9F5B;
}
.booknow{
    background: #DA9F5B;
    color: #212529;
    font-size:16px ;
    font-family: "Roboto" sans-serif;
}
.section_five{
    height: 582px;
    background-color: #FFFBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-two{
    height: 225px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}