<section class="section_six">
    <div class="overlay-top">
      <div class="ovl">     
      <img src="assets/img/overlay-top.png" alt="overlay" width="100%" style="
      margin-top: -5px">
 <div class="info">
  <div class="followus">
    <div class="psmal">
      <h4 class="titleh4">GET IN TOUCH</h4>
      <p class="location"><span class="material-symbols-outlined">
        location_on
        </span>123 Street, New York, USA</p>
      <p class="location"><span class="material-symbols-outlined">
        call
        </span>+012 345 67890</p>
      <p class="location"><span class="material-symbols-outlined">
        mail
        </span>info@example.com</p>
      </div>
  </div>
  <div class="followus">
    <h4 class="titleh4">FOLLOW US</h4>
    <p class="location amet">Amet elitr vero magna sed 
      ipsum sit kasd sea elitr lorem
       rebum</p>
    <div class="links">
    <a href="twitter.com" class="twicon"><i class="fab fa-twitter"></i></a>
      <a href="facebook.com" class="twicon"><i class="fab fa-facebook-f"></i></a>
      <a href="linkedlin.com" class="twicon"><i class="fab fa-linkedin-in"></i></a>
      <a href="instagram.com" class="twicon"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="followus">
    <h4 class="titleh4">OPEN HOURS</h4>
    <div class="h6txt">
    <h6> MONDAY - FRIDAY</h6>
   <h6>8.00 AM - 8.00 PM</h6>
   <h6>SATURDAY - SUNDAY</h6>
   <h6>2.00 PM - 8.00 PM</h6> 
  </div>
  </div>
  <div class="followus">
    <h4 class="titleh4">NEWSLETTER</h4>
    <div class="pandinput">
      <p class="location">Amet elitr vero magna sed ipsum sit kasd sea elitr lorem rebum</p>
      <div class="inpbtflex">
        <input type="email" placeholder="Your Email" class="emailfooter">
    <button class="btn signfooter" type="submit">Sign Up</button>
      </div>
    
    </div>
    
  </div>
</div> 
<div class="copyright">
<p class="location cr">Copyright © Domain. All Rights Reserved.</p>
</div>
</div>
 
</div>
 
</section>